.count-cards-wrapper{
    margin-bottom: 30px;
    
    .card-wrapper{
        border-radius: 10px;
        background-color: $var-color-white;
        .count-card{
            
            background-color: $var-color-white;
        }
    }

}