@import "../layouts/header";
@import "../layouts/sidebar";

.home-wrapper{


    .toggler-wrapper{

        button{
            i{
                font-size: 25px;
             color: $var-color-white;   
            }
        }
    }




.main-wrapper{

    

    .pages-wrapper{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        .page1{
            height: 100%;
            width: 100%;
            background-color: beige;
        }

        .page2{
            height: 100%;
            width: 100%;
            background-color: pink;
        }

        .page3{
            height: 100%;
            width: 100%;
            background-color: crimson;
        }


    }




}

}